 html, body {
      font-family: system-ui, -apple-system, sans-serif;
      background: #fafafa;
      padding: 10px;
      height: 100%;
    }

    #root{
        width: 100%;
        height: 100%;
    }

    .user-table{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table {
      width: 100%;
      max-width: 800px;
      border-collapse: collapse;
      background: #fff;
    }

    th, td {
      padding: 12px 16px;
      text-align: left;
      border-bottom: 1px solid #eaeaea;
      font-size: 14px;
    }

    th {
      font-weight: 500;
      color: #639fee;
      cursor: pointer;
    }

    tr:last-child td {
      border-bottom: none;
    }

    .dash{
    display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
      width: 100%;
      height: 75%;

      .left-panel{
        width: 250px;
          flex-direction: column;
          gap: 20px;
          font-size: 14px;
          justify-content: space-evenly;
          margin-top: 20px;
        padding: 12px 16px;

        button{
          margin-top: 20px;;
        }
      }

      .left{
       width: 200px;
        font-size: 14px;
        color: #639fee;
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: space-evenly;


        select{
          width: 100%;  
        }

    }

    }

    .topbar{
        margin: 20px;
        font-size: 14px;
        color: #639fee;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 5px;

    }
    

    input{

                    padding: 6px 12px;
                    background: rgb(157, 171, 214);
                    border: 1px solid rgb(60, 63, 68);
                    font-size: 13px;
                    color: rgb(247, 248, 248);
                    appearance: none;
                    transition: border 0.15s ease 0s;
                    :focus{
                        outline: none;
                        box-shadow: none;
                        border-color: rgb(100, 153, 255);
                    }
                
    }

    .pagination{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 200px;
        float: right;
        margin-top: 40px;
    }

    button {
      padding: 6px 12px;
      margin: 0 4px;
      background: rgb(100, 153, 255);
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }
  
    .open-form{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      padding: 10px 20px;
      
      button{
        height: 28px;
      }

      span{
        color: rgb(100, 153, 255);
      }
    }

    .form-submission{
      display: flex;
      flex-direction: column;
      align-items: left;
      border: 3px rgb(100, 153, 255) solid;
      width: fit-content;
      padding: 20px;

      input{
        margin: 8px 0;
      }

      button {
      padding: 6px 12px;
      margin: 0 4px;
      background: rgb(100, 153, 255);
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      margin: 8px 0;
      width: 120px;
    }

    label{
      color: rgb(14, 47, 96);
      font-size: 12px;
      text-align: left;

      .error{
        color: red;
        font-size: 10px;
      }
    }
    }

    .progress{
      height: 10px;
      background-color: lightgray;
      margin-top: 10px;
      border: 2px solid black;
    }

    