 body {
      font-family: system-ui, -apple-system, sans-serif;
      background: #fafafa;
      padding: 40px;
    }

    #root{
        width: 100%;
    }

    .user-table{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table {
      width: 100%;
      max-width: 800px;
      border-collapse: collapse;
      background: #fff;
    }

    th, td {
      padding: 12px 16px;
      text-align: left;
      border-bottom: 1px solid #eaeaea;
      font-size: 14px;
    }

    th {
      font-weight: 500;
      color: #639fee;
      cursor: pointer;
    }

    tr:last-child td {
      border-bottom: none;
    }

    .dash{
    display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
      width: 100%;
    }

    .bottom{
        margin-top: 20px;
        padding: 12px 16px;
        font-size: 14px;
        width: 100%;
        color: #639fee;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
    
    .left{
        margin-top: 20px;
        padding: 12px 16px;
        font-size: 14px;
        width: 100%;
        color: #639fee;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    input{

                    padding: 6px 12px;
                    background: rgb(157, 171, 214);
                    border: 1px solid rgb(60, 63, 68);
                    font-size: 13px;
                    color: rgb(247, 248, 248);
                   width: 200px;
                    appearance: none;
                    transition: border 0.15s ease 0s;
                    :focus{
                        outline: none;
                        box-shadow: none;
                        border-color: rgb(100, 153, 255);
                    }
                
    }

    .pagination{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    button {
      padding: 6px 12px;
      margin: 0 4px;
      background: rgb(100, 153, 255);
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
    }

    .form-submission{
      display: flex;
      flex-direction: column;
      align-items: center;

      input{
        margin: 8px 0;
      }

      button {
      padding: 6px 12px;
      margin: 0 4px;
      background: rgb(100, 153, 255);
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      margin: 8px 0;
    }

    label{
      color: rgb(14, 47, 96);
      font-size: 12px;
      text-align: left;

      .error{
        color: red;
        font-size: 10px;
      }
    }
    }

    .progress{
      height: 10px;
      background-color: lightgray;
      margin-top: 10px;
      border: 2px solid black;
    }